// admin home page
.adminhome {
    height: 100%;
    width: auto;
    border-radius: 20px;
    background-color: var(--background-3);
    padding: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;

    &__container {
        height: auto;
        width: auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "count count count"
            "chart chart detail"
            "table table coupon";

        @include breakpoint(md) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "count count"
                "chart chart"
                "detail coupon"
                "table table";
        }

        @include breakpoint(sm) {
            grid-template-columns: 2fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                "count count"
                "chart chart"
                "table table"
                "detail detail"
                "coupon coupon";
        }

        &--count {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            grid-area: count;

            @include breakpoint(md) {
                max-height: 130px;
                overflow-x: scroll;
            }

            @include breakpoint(sm) {
                height: 100px;
            }
        }

        &--chart {
            grid-area: chart;
            height: 400px;
        }

        &--detail {
            grid-area: detail;

            @include breakpoint(md) {
                max-height: 300px;
            }
        }

        &--table {
            grid-area: table;
            height: 400px;

            @include breakpoint(md) {
                max-height: 400px;
            }
        }

        &--coupon {
            grid-area: coupon;

            @include breakpoint(md) {
                max-height: 300px;
            }
        }
    }
}


// admin dashboard pages basic style
.adminbasicstyle {
    height: 100%;
    width: auto;
    border-radius: 20px;
    background-color: var(--background-3);
    padding: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;

    &__header {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--background-3);
        margin-bottom: 1rem;

        h3 {
            font-size: 23px;
            color: var(--text-grey);
        }
    }

    &__table {
        height: 100%;
        width: 100%;
    }
}