// admin home page
.adminhome {
  height: 100%;
  width: auto;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;
  box-sizing: border-box;

  &__container {
    height: auto;
    width: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "count count count"
      "chart chart detail"
      "table table coupon";

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "count count"
        "chart chart"
        "detail coupon"
        "table table";
    }

    @include breakpoint(sm) {
      grid-template-columns: 2fr;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas:
        "count count"
        "chart chart"
        "table table"
        "detail detail"
        "coupon coupon";
    }

    &--count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      grid-area: count;

      @include breakpoint(md) {
        max-height: 130px;
        overflow-x: scroll;
      }

      @include breakpoint(sm) {
        height: 100px;
      }
    }

    &--chart {
      grid-area: chart;
      height: 400px;
    }

    &--detail {
      grid-area: detail;

      @include breakpoint(md) {
        max-height: 300px;
      }
    }

    &--table {
      grid-area: table;
      height: 400px;

      @include breakpoint(md) {
        max-height: 400px;
      }
    }

    &--coupon {
      grid-area: coupon;

      @include breakpoint(md) {
        max-height: 300px;
      }
    }
  }
}

// admin dashboard pages basic style
.adminbasicstyle {
  height: 100%;
  width: auto;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 0 1rem;
  overflow-y: scroll;
  box-sizing: border-box;

  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-3);
    margin-bottom: 2rem;
    padding: 10px;

    h3 {
      font-size: 20px;
      color: var(--text-grey);
    }
  }

  &__table {
    height: 100%;
    width: 100%;
  }
}
// AdminAffiliater
.adminaffiliater {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 2rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--background-1);
  }
  &__header {
    height: 10vh;
    width: 100%;
    background: linear-gradient(to left, var(--primary-color), black);
    border-radius: 20px 20px 0px 0px;
    position: relative;

    &--icon {
      height: 4.6rem;
      width: 4.6rem;
      position: absolute;
      top: 2rem;
      left: 35px;
      background-color: var(--background-1);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__detials {
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 35px;
    line-height: 30px;

    &--token {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      @include breakpoint(sm) {
        gap: 10px;
        margin-bottom: 10px;
      }
      span {
        border: 2px solid var(--background-3);
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;

        img {
          width: 20px;
        }
      }
    }
  }
  &__address {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    font-size: small;

    @include breakpoint(md) {
      gap: 10px;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }

    &--sociallinks {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.admincompany {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 2rem;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--background-1);
    overflow: scroll;
  }
  &__head {
    // border: 1px solid red;
    height: 20vh;
    width: 100%;
    background: linear-gradient(to left, var(--primary-color), black);
    border-radius: 20px 20px 0px 0px;
    position: relative;

    img {
      position: absolute;
      top: 14vh;
      left: 35px;
      width: 75px;
      background-color: white;
      border-radius: 50%;
    }
  }
  &__detials {
    margin-top: 5vh;
    height: 20vh;
    width: 100%;
    padding-left: 35px;
    // background-color: red;
    line-height: 30px;
  }
  &__address {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: small;
    margin-top: 5px;
    @include breakpoint(lg) {
      display: flex;
      flex-wrap: wrap;
    }

    &--links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  &__tab {
    border-top: 1px solid var(--background-3);
    margin-right: 2rem;
    margin-top: 1rem;
  }
}
.companypersonal {
  display: flex;
  gap: 2rem;
  overflow: scroll;
  &__tabs {
    line-height: 2rem;
    font-size: smaller;

    &--socialicons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__tab {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    height: auto;
  }
  &__tabs {
    border-top: 1px solid var(--background-3);
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}

//AdminPersonal
.adminPersonal {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: scroll;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  &__childs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
