// affiliater registration page
.affiliaterregpage {
  position: relative;
  height: 100vh;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 15px;
    padding: 2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding-top: 1.5rem;

    &--text {
      color: var(--text-grey);

      h3 {
        font-size: 18px;
        margin-bottom: 3px;
        color: var(--primary-color);
      }

      p {
        font-size: 13px;
      }
    }
  }

  &__icon {
    padding: 25px 10px;
  }

  &__details {
    p {
      font-size: 13px;
    }

    display: grid;
    color: var(--text-grey);
    padding: 0 0 1rem;
    gap: 5px;
  }
}

//affiliater personal
.affiliaterpersonal {
  &__containers {
    display: flex;
  }

  &__containerone {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: flex-start;
  }

  &__containertwo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 0 0 9rem;
    align-items: flex-end;
    &--button {
      display: flex;
      align-items: flex-end;
      justify-content: end;
      width: 100%;
      padding: 50px;
    }

    Button {
      width: 100px;
    }
  }

  &__containerone--input,
  &__containertwo--input {
    padding: 1rem;
  }

  &__containerone--label,
  &__containertwo--label {
    padding: 5px;
  }
}

// affiliater domestic
.affiliaterdomestic{
  &__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: flex-start;
  }
  &__container--input {
    padding: 1rem;
  }
  &__container--label {
    padding: 5px;
  }
  Button {
    width: 100px;
  }
  &__button{
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
// affiliater international
.affiliaterinternational{
  &__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: flex-start;
  }
  &__container--input {
    padding: 1rem;
  }
  &__container--label {
    padding: 5px;
  }
  Button {
    width: 100px;
  }
  &__button{
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

// affiliater home
.affiliaterhome {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--chart {
      grid-column: span 2;
      grid-row: span 3;
    }

    &--profile {
      grid-column: span 1;
      grid-row: span 5;
    }

    &--table {
      grid-column: span 2;
      grid-row: span 4;
    }

    &--detail {
      grid-column: span 1;
      grid-row: span 4;
    }
  }
}


//affiliater coupon
.affiliatercoupon {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--background-1);
  }

  &__containerbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 20px;

    @include breakpoint(sm) {
      justify-content: center;
      padding: 0px;
    }

    &--token {
      width: 300px;
    }
  }

  &__progress {
    width: 90%;
  }

  &__table {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &--head {
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 5px;
      color: var(--text-dark);
    }

    &--content {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-radius: 5px;
      padding-left: 30px;

      @include breakpoint(lg) {
        width: 50%;
      }

      @include breakpoint(md) {
        width: 60%;
      }

      @include breakpoint(sm) {
        width: 90%;
      }

      @include breakpoint(xs) {
        width: 100%;
      }
    }
  }
}

//affiliater transaction
.affiliatertransaction {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: var(--background-1);
    overflow: scroll;

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }

    h3 {
      padding: 20px 0 0 20px;
    }
  }
}

//affiliater commission
.affiliatercommission {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 20px;
    background-color: var(--background-1);

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }

    h3 {
      padding: 20px 0px 0px 20px;
      font-weight: 500;
    }
  }
}

//affilaiter setting
.affiliatersettings {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    gap: 0.5rem;
    height: auto;
    width: 100%;
    background-color: var(--background-2);
    border-radius: 15px;
  }

  &__heading {
    display: grid;
    font-weight: 500;
    font-size: 28px;
    padding: 1.5rem 0 0 3rem;
    color: var(--primary-color);
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: bold;
      color: var(--secondary-color);
    }
  }

  &__details {
    p {
      font-size: 13px;
    }

    display: grid;
    color: var(--text-grey);
    padding: 0 0 1rem;
    gap: 5px;
  }
}

//affiliater security
.affiliatersecurity {
  height: 420px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__heading {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    padding: 1rem 0 8rem 1rem;

    .text {
      font-size: 15px;
      font-weight: 500;
      padding: 0 0 10px;
    }

    .font {
      color: var(--text-grey);
      font-size: 12px;
    }

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 13rem;
    }
  }

  &__verifyinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;

    @include breakpoint(md) {
      display: block;
    }
  }

  &__submitbutton {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  &__delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;

    @include breakpoint(sm) {
      display: block;
    }
  }

  &__deletebut {
    padding: 5px 0;
  }
}

//affiliater policy
.affiliaterpolicy {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__head {
    display: grid;
    font-weight: 500;
    font-size: 22px;
    padding: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 22rem;
    }
  }
}

//affilaiter agreement
.affiliateragreement {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__head {
    display: grid;
    font-weight: 500;
    font-size: 22px;
    padding: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 14rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 22rem;
    }
  }
}

//affiliater notification
.affiliaternotification {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 18rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 25rem;
    }
  }
}

//affiliater Help
.affiliaterhelp {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 18rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 25rem;
    }
  }
}

.affiliaterpersonal {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  overflow-x: scroll;

  &__content {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 200px;

      input {
        border: 1px solid var(--text-white);
        border-radius: 8px;
        height: 30px;
        padding: 15px;
      }
      textarea {
        border: 1px solid var(--text-white);
        border-radius: 8px;
      }
    }
    &--right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 200px;
      input {
        border: 1px solid var(--text-white);
        border-radius: 8px;
        height: 30px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: end;
    padding-right: 200px;

    Button {
      background-color: var(--secondary-color);
      width: 100px;
      color: white;
    }
  }
}
