// affiliater home
.affiliaterhome {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--chart {
      grid-column: span 2;
      grid-row: span 3;
    }

    &--profile {
      grid-column: span 1;
      grid-row: span 5;
    }

    &--table {
      grid-column: span 2;
      grid-row: span 4;
    }

    &--detail {
      grid-column: span 1;
      grid-row: span 4;
    }
  }
}

//affiliater coupon
.affiliatercoupon {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--background-1);
  }

  &__containerbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 20px;

    @include breakpoint(sm) {
      justify-content: center;
      padding: 0px;
    }

    &--token {
      width: 300px;
    }
  }

  &__progress {
    width: 90%;
  }

  &__table {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &--head {
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 5px;
      color: var(--text-dark);
    }

    &--content {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-radius: 5px;
      padding-left: 30px;

      @include breakpoint(lg) {
        width: 50%;
      }

      @include breakpoint(md) {
        width: 60%;
      }

      @include breakpoint(sm) {
        width: 90%;
      }

      @include breakpoint(xs) {
        width: 100%;
      }
    }
  }
}

//affiliater transaction
.affiliatertransaction {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: var(--background-1);
    overflow: scroll;

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }

    h3 {
      padding: 20px 0 0 20px;
    }
  }
}

//affiliater commission
.affiliatercommission {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {

    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 20px;
    background-color: var(--background-1);

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }

    h3 {
      padding: 20px 0px 0px 20px;
      font-weight: 500;
    }
  }
}

//affilaiter setting
.affiliatersettings {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1.5rem;
  overflow-y: scroll;

  &__container {
    display: grid;
    gap: 0.5rem;
    height: 100vh;
    width: 100%;
    background-color: var(--background-2);
    border-radius: 15px;
  }

  &__heading {
    display: grid;
    font-weight: 500;
    font-size: 28px;
    padding: 1.5rem 0 0 3rem;
    color: var(--primary-color);
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .ant-tabs-tab-active .ant-tabs-tab-btn {
      font-weight: bold;
      color: var(--secondary-color);
    }
  }

  &__details {

    p {
      font-size: 13px;
    }

    display: grid;
    color: var(--text-grey);
    padding: 0 0 1rem;
    gap: 5px;
  }
}

//affiliater security
.affiliatersecurity {
  height: 300px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__heading{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    padding: 1rem 0 8rem 1rem;
    .text{
      font-size: 15px;
    }
    .font{
      color: var(--text-grey);
      font-size: 12px;
    }
     

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 13rem;
    }
  }
}

//affiliater policy
.affiliaterpolicy {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__head {
    display: grid;
    font-weight: 500;
    font-size: 22px;
    padding: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 13rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 22rem;
    }
  }
}

//affilaiter agreement
.affiliateragreement {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__head {
    display: grid;
    font-weight: 500;
    font-size: 22px;
    padding: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 14rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 22rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 22rem;
    }
  }
}

//affiliater notification
.affiliaternotification {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 18rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 25rem;
    }
  }
}

//affiliater Help
.affiliaterhelp {
  height: 280px;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-1);
  overflow-y: scroll;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    height: 280px;
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
    max-height: 100%;

    @include breakpoint(xl) {
      grid-template-rows: auto;
      height: 18rem;
    }

    @include breakpoint(lg) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(md) {
      grid-template-rows: auto;
      height: 25rem;
    }

    @include breakpoint(sm) {
      grid-template-rows: auto;
      height: 25rem;
    }
  }
}