// affiliater home
.affiliaterhome {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;

    &--counts {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--chart {
      grid-column: span 2;
      grid-row: span 3;
    }

    &--profile {
      grid-column: span 1;
      grid-row: span 5;
    }

    &--table {
      grid-column: span 2;
      grid-row: span 4;
    }

    &--detail {
      grid-column: span 1;
      grid-row: span 4;
    }
  }
}

// affiliate coupon
.affiliatercoupon {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--background-1);
  }

  &__containerbody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 20px;

    @include breakpoint(sm) {
      justify-content: center;
      padding: 0px;
    }

    &--token {
      width: 300px;
    }
  }

  &__progress {
    width: 90%;
  }

  &__table {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &--head {
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 5px;
      color: var(--text-dark);
    }

    &--content {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      border-radius: 5px;
      padding-left: 30px;

      @include breakpoint(lg) {
        width: 50%;
      }
      @include breakpoint(md) {
        width: 60%;
      }
      @include breakpoint(sm) {
        width: 90%;
      }
      @include breakpoint(xs) {
        width: 100%;
      }
    }
  }
}
