//auth
.auth {
    min-height: 100vh;
    height: auto;
    width: 100%;

    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-grey);
    }

    &__form {
        flex: 1;
        height: 100vh;
        width: 100%;
        background-color: var(--background-2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left : 5rem;

        &--heading {
            margin-bottom: 1rem;

            h2 {
                font-size: 25px;
            }
        }

        &--input {
            width: 60%;

            p:nth-child(1) {
                margin: .2rem 0;
                font-size: 14px;
            }

            p:nth-child(3) {
                font-size: 12px;
                color: var(--text-error);
            }
        }

        &--footer {
            margin-top: 2rem;
            display: flex;
            gap: .3rem;
        }
    }

    &__image {
        flex: 2;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--green-gradient);

        img {
            height: 40%;
            width: 50%;
        }
    }

}