// company registration page

$breakpoints: (
  xs: 350px,
  sm:576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xxxl: 1920px,

);

@mixin breakpoint($point) {
  @media (min-width: map-get($breakpoints, $point)) {
    @content
  }
}




.companyregpage {
  position: relative;
  height: 100vh;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    border-radius: 15px;
    padding: 2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding-top: 1.5rem;

    &--text {
      color: var(--text-grey);

      h3 {
        font-size: 18px;
        margin-bottom: 3px;
        color: var(--primary-color);
      }

      p {
        font-size: 13px;
      }
    }
  }

  &__icon {
    padding: 25px 10px;
  }

  &__details {
    p {
      font-size: 13px;
    }

    display: grid;
    color: var(--text-grey);
    padding: 0 0 1rem;
    gap: 5px;
  }
}

.companyhome {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
    height: 100%;
    width: 100%;

    &--counts {
      grid-column: span 2;
      grid-row: span 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--chart {
      grid-column: span 2;
      grid-row: span 5;
    }

    &--profile {
      grid-column: span 1;
      grid-row: span 6;
    }

    &--table {
      grid-column: span 2;
      grid-row: span 4;
    }

    &--detail {
      grid-column: span 1;
      grid-row: span 4;
    }
  }
}

//company personal
.companypersonal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  &__containerone {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
  }

  &__containertwo {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    padding: 0 0 9rem;

    &--button {
      width: 100%;
      display: flex;
      margin-top: 100px;
      justify-content: end;
    }
  }

  &__containerone--input,
  &__containertwo--input {
    padding: 1rem;
  }

  &__containerone--label,
  &__containertwo--label {
    padding: 5px;
  }

  &__tabs {
    font-size: 13px;
  }
}

// company bank
.companybank {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  &__container--input {
    padding: 1rem;
  }

  &__container--label {
    padding: 5px;
  }

  Button {
    width: 100px;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  &__tabs {
    font-size: 13px;
  }
}

//Company proof
.companyproof {
  &__tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 13px;
    font-weight: 400;

    &--input {
      width: 200px;
    }

    &--button {
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }
}

// company business
.companybusiness {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  &__container--input {
    padding: 1rem;
  }

  &__container--label {
    padding: 5px;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  &__tabs {
    font-size: 13px;
  }
}

//company Licenses
.companylicenses {
  &__tabs {
    display: flex;
    flex-direction: column;
    height: 50vh;
    gap: 1.2rem;
    font-size: 13px;

    &--button {
      width: 100%;
      margin-top: 150px;
      display: flex;
      justify-content: end;
    }
  }
}

//company Identification
.companyidentification {
  &__tabs {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}

// company Contact
.companycontact {
  &__tabs {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}

//company Bussiness
.companybussiness {
  &__tabs {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}

//company Licences
.companylicences {
  &__tabs {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}

//course
.companyaddcourses {
  height: 100%;
  // max-height: 100vh;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 2rem;
  overflow-y: scroll;

  &__container {
    height: auto;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--background-1);
  }

  p {
    padding: 8px;
    width: 30rem;
  }

}

//studyabroad
.studyabroad {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    height: auto;


    &__container--input {
      padding: 1rem;
    }

    @include breakpoint(md) {
      width: 60%;
    }

    @include breakpoint(lg) {
      width: 60%;
    }

    @include breakpoint(xl) {
      width: 60%;
    }

    @include breakpoint(xxl) {
      width: 60%;
    }

    &__container--label {
      padding: 5px;
    }

    &--button {
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 20px;

      @include breakpoint(xs) {
        transform: translateX(1%);
      }

      @include breakpoint(sm) {
        transform: translateX(1%);
      }

      @include breakpoint(md) {
        transform: translateX(65%);
      }

      @include breakpoint(lg) {
        transform: translateX(65%);
      }

      @include breakpoint(xl) {
        transform: translateX(65%);
      }

      @include breakpoint(xxl) {
        transform: translateX(65%);
      }
    }

  }

}

//course

.course {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    height: auto;


    &__container--input {
      padding: 1rem;
    }

    @include breakpoint(md) {
      width: 60%;
    }

    @include breakpoint(lg) {
      width: 60%;
    }

    @include breakpoint(xl) {
      width: 60%;
    }

    @include breakpoint(xxl) {
      width: 60%;
    }

    &__container--label {
      padding: 5px;
    }

    &--button {
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 20px;

      @include breakpoint(xs) {
        transform: translateX(1%);
      }

      @include breakpoint(sm) {
        transform: translateX(1%);
      }

      @include breakpoint(md) {
        transform: translateX(65%);
      }

      @include breakpoint(lg) {
        transform: translateX(65%);
      }

      @include breakpoint(xl) {
        transform: translateX(65%);
      }

      @include breakpoint(xxl) {
        transform: translateX(65%);
      }
    }

  }
}

// company course

.activecourses {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--background-3);
  padding: 2rem;
  overflow-y: scroll;

  &__container {
    height: auto;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--background-1);
  }

  &__scrollablediv {
    ::-webkit-scrollbar {
      display: none;
    }
  }

}