// navbar
.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: var(--background-1);
    position: fixed;
    padding: 0 3rem;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;

    @include breakpoint(lg) {
        padding: 0 2rem;
    }

    @include breakpoint(md) {
        height: 7vh;
        padding: 0 1rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
    }

    &__items {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        
        @include breakpoint(md) {
            display: none;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        
        @include breakpoint(md) {
            display: none;
        }
    }

    &__handburger {
        display: none;
        position: absolute;
        z-index: 2;
        right: 1rem;

        @include breakpoint(sm) {
            display: block;
        }
    }

    &__mobile {
        display: none;

        @include breakpoint(lg) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 80%;
            z-index: 1;
            background-color: var(--primary-color);
        }
    }
}