// navbar
.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--background-1);


    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}