// auth layout
.authlayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}

// dashboard layout
.dashboard {
    height: 100vh;

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas:
            "sidebar navbar"
            "sidebar body";
    }

    &__navbar {
        height: 30%;
        width: 100%;
        padding: 0 20px;
        grid-area: navbar;
    }

    &__sidebar {
        width: 100%;
        grid-area: sidebar;
    }

    &__body {
        grid-area: body;
        padding: 2rem 20px;
        height: 100%;
    }
}

// customer layout
.customerlayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}

// affiliater layout
.affiliatelayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}