// auth layout
.authlayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}

// admin layout
.admin {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar body";

    &__container {
        display: grid;
        grid-template-areas:
            "navbar"
            "sidebar"
            "body";
        grid-template-columns: 240px 1fr;
        grid-template-rows: 70px 1fr;
        height: 100%;

        &__navbar {
            grid-area: navbar;
            background-color: #333;
            color: white;
        }

        &__sidebar {
            grid-area: sidebar;
            background-color: #f0f0f0;
        }

        &__body {
            grid-area: body;
            background-color: #fff;
            padding: 20px;
        }
    }
}

// customer layout
.customerlayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}

// affiliater layout
.affiliatelayout {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-1);
}