:root,
.light-theme {
    --primary-color: #39843B;   
    --text-dark: #FFFFFF;
    --text-grey: #555151;
    --text-white: #1d1b1b;
    --background-1: #FFFFFF;
    --background-2: #F5F7FA;
    --backgroun-3: #39843B
}

.dark-theme {
    --primary-color: #39843B;
    --text-dark: #1d1b1b;
    --text-grey: #e1e9db;
    --text-white: #FFFFFF;
    --background-1: #323335;
    --background-2: #121213;
    --backgroun-3: #39843B
}